<h1><%= @title  %></h1>

<table>
  <form method="post" action="/meetings/find">
    <tr>
      <th>議題:</th>
      <%# params[:title]で、初期値として前回入力値をセットする %>
      <td><%= text_field_tag 'title', params[:title], { :size => 50} %></td>
    </tr>
    <tr>
      <th>プロジェクト:</th>
      <td>
        <%# content_tag: 選択肢に「非選択」を追加するため %>
        <%# options_from_collection_for_selectの第三引数：前回選択値を復旧させるため %>
        <%= select_tag 'project_id', content_tag(:option,'選択してください...',:value=>"")+options_from_collection_for_select(@projects, :id, :name, params[:project_id] || 0) %>
      </td>
    </tr>
    <tr><th></th>
      <td><input type="submit" value="検索"></td>
    </tr>
    <%# セッション情報を取り出すために必要。この1文が無いと、セッション切れでログイン画面にふっとばされる %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  </form>
</table>

<hr />


<table rules="rows">
  <tr>
    <th>ID&nbsp;&nbsp;</th>
    <th>プロジェクト&nbsp;&nbsp;</th>
    <th>議題&nbsp;&nbsp;</th>
    <th>開催日&nbsp;&nbsp;</th>
    <th>開始時間&nbsp;&nbsp;</th>
    <th>ステータス&nbsp;&nbsp;</th>
    <th>主催者&nbsp;&nbsp</th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr style="background-color:<%= cycle('FFffFF','#FFff99') %>">
    <td height="30"><%= meeting.id %>&nbsp&nbsp;&nbsp;&nbsp</td>
    <td height="30"><%= meeting.project.name %>&nbsp&nbsp;&nbsp;&nbsp</td>
    <td height="30"><%= link_to meeting.title, meeting %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.meeting_date %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.start_time.strftime("%H:%M") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.status %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.user.user_name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
<% end %>
</table>

<br />

Page: 
<% if @page > 0 then%>
<a = href="/meetings/index?page=<%=(@page - 1) %>">[<%=(@page) %>]</a>
<% end %>
[<%= (@page + 1) %>]
<% if @record_count > (@page + 1) * @page_num%>
<a = href="/meetings/index?page=<%=(@page + 1) %>">[<%= (@page + 2) %>]</a>
<% end %>

<br />
<br />

<%= link_to '[新規作成]', new_meeting_path %>

<%= javascript_include_tag 'meetings' %>

