<h1>ミーティング一覧</h1>








<table rules="rows">
  <tr>
    <th>ID&nbsp;&nbsp;</th>
    <th>プロジェクト&nbsp;&nbsp;</th>
    <th>議題&nbsp;&nbsp;</th>
    <th>開催日&nbsp;&nbsp;</th>
    <th>開始時間&nbsp;&nbsp;</th>
    <th>ステータス&nbsp;&nbsp;</th>
    <th>主催者&nbsp;&nbsp</th>
    <th colspan="1">Menu</th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td height="30"><%= meeting.id %>&nbsp&nbsp;&nbsp;&nbsp</td>
    <td height="30"><%= meeting.project.name %>&nbsp&nbsp;&nbsp;&nbsp</td>
    <td height="30"><%= link_to meeting.title, meeting %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.meeting_date %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.start_time.strftime("%H:%M") %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.status %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.host_user_id %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><a href="javascript:void(0)" onclick="doDelete(<%=  meeting.id %>);">削除(新)</a></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新規作成', new_meeting_path %> |
<a href="../../">メニュー</a>

<%= javascript_include_tag 'meetings' %>

