<h1>Listing meetings</h1>

<table rules="rows">
  <tr>
    <th>Title&nbsp;&nbsp;</th>
    <th>Project&nbsp;&nbsp;</th>
    <th>Purpose&nbsp;&nbsp;</th>
    <th>Host user&nbsp;&nbsp</th>
    <th colspan="2">Menu</th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td height="30"><%= link_to meeting.title, meeting %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.project_id %>&nbsp&nbsp;&nbsp;&nbsp</td>
    <td height="30"><%= meeting.purpose %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= meeting.host_user_id %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td height="30"><%= link_to 'Edit', edit_meeting_path(meeting) %>&nbsp;&nbsp;</td>
    <td height="30"><%= link_to 'Delete', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Meeting', new_meeting_path %> |
<a href="../../">Home</a>
