
<table>
<tr>
  <th>ID:</th>
  <td><%= @meeting.id %></td>
</tr>
</tr>

<tr>
  <th>プロジェクト:</th>
  <td><%= @meeting.project.name %></td>
</tr>

<tr>
  <th>議題:</th>
  <td><%= @meeting.title %></td>
</tr>

<tr>
  <th valign="top">目的:</th>
  <td valign="top"><%= simple_format(@meeting.purpose) %></td>
</tr>

<tr>
  <th>開催日:</th>
  <td><%= @meeting.meeting_date %></td>
</tr>

<tr>
  <th>開始予定時間:</th>
  <td><%= @meeting.start_time.strftime("%H:%M") %><td>
</tr>

<tr>
  <th>終了予定時間:</th>
  <td><%= @meeting.end_time.strftime("%H:%M") %></td>
</tr>

<tr>
  <th>開催場所:</th>
  <td><%= @meeting.place %></td>
</tr>

<tr>
  <th>主催者:</th>
  <td><%= @meeting.user.user_name %><td>
</tr>

<tr>
  <th>ステータス:</th>
  <td><%= @meeting.status %></td>
</tr>

<tr>
  <th>登録者:</th>
  <td><%= @meeting.create_user_id %></td>
</tr>

<tr>
  <th>更新日時:</th>
  <td><%= @meeting.update_date.strftime("%Y/%m/%d %H:%M") %></td>
</tr>

<tr>
  <th>更新者:</th>
  <td><%= @meeting.update_user_id %></td>
</tr>

</table>

<p>

<%= link_to '[編集]', edit_meeting_path(@meeting) %> |
<a href="javascript:void(0)" onclick="doDelete(<%=  @meeting.id %>,<%=  @exist_minute %>);">[削除]</a> |
[<%= link_to '開催通知', url_for( :controller => 'meeting_notification', :action => 'index', :meeting_id => @meeting.id) %>] |
    <% if @minute_id == 'なし' %> 
      [<%= link_to '議事録登録', url_for(:controller => "minutes", :action => "new", :id => @meeting.id) %>]
    <% else %>
      [<%= link_to '議事録参照', url_for(:controller => "minutes", :action => "show", :id => @minute_id) %>]
    <% end %>
<%= link_to '[ToDo一覧]', { :controller => 'todos', :action => 'index'} %>
<%= link_to '[一覧に戻る]', meetings_path %>

<%= javascript_include_tag 'meetings' %>

