
<p>
  <b>ID:</b>
  <%= @meeting.id %>
</p>

<p>
  <b>プロジェクト:</b>
  <%= @meeting.project.name %>
</p>

<p>
  <b>議題:</b>
  <%= @meeting.title %>
</p>

<p>
  <b>目的:</b>
  <%= @meeting.purpose %>
</p>

<p>
  <b>開催日:</b>
  <%= @meeting.meeting_date %>
</p>

<p>
  <b>開始予定時間:</b>
  <%= @meeting.start_time.strftime("%H:%M") %>
</p>

<p>
  <b>終了予定時間:</b>
  <%= @meeting.end_time.strftime("%H:%M") %>
</p>

<p>
  <b>開催場所:</b>
  <%= @meeting.place %>
</p>

<p>
  <b>主催者:</b>
  <%= @meeting.user.email %>
</p>

<p>
  <b>対象者:（そのうち対応）</b>
</p>

<p>
  <b>ステータス:</b>
  <%= @meeting.status %>
</p>

<p>
  <b>登録者:</b>
  <%= @meeting.create_user_id %>
</p>

<p>
  <b>更新日時:</b>
  <%= @meeting.update_date.strftime("%Y/%m/%d %H:%M") %>
</p>

<p>
  <b>更新者:</b>
  <%= @meeting.update_user_id %>
</p>


<%= link_to '[編集]', edit_meeting_path(@meeting) %> |
<a href="javascript:void(0)" onclick="doDelete(<%=  @meeting.id %>);">[削除]</a> |
<%= link_to '[戻る]', meetings_path %>

<%= javascript_include_tag 'meetings' %>

