<h1>Listing projects</h1>

<table rules="rows">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Menu</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td height="30"><%= project.name %>&nbsp&nbsp</td>
    <td>&nbsp&nbsp<%= link_to 'Show', project %>&nbsp&nbsp</td>
    <td>&nbsp&nbsp<%= link_to 'Edit', edit_project_path(project) %>&nbsp&nbsp</td>
    <td>&nbsp&nbsp<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp&nbsp</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Project', new_project_path %>
