<h1>ToDo編集</h1>

<%= form_for(@todo) do |f| %>

  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <tr>
      <th><%= f.label :summary, '概要' %></th>
      <td><%= f.text_field :summary %></td>
    </tr>

    <tr>
      <th><%= f.label :detail, '詳細' %></th>
      <td><%= f.text_area :detail %></td>
    </tr>

    <tr>
      <th><%= f.label :owner, '担当者' %></th>
      <td>
        <%= f.collection_select :owner, @users, :id, :user_name %>
      </td> 
    </tr>

    <tr>
      <th><%= f.label :enddate, '期限'%></th>
      <td><%= f.date_select :enddate, :use_month_numbers => true %></td>
    </tr>

    <tr>
      <% options = ["未着手", "仕掛中", "完了"] %>
      <th><%= f.label :sts, 'ステータス' %></th>
      <td><%= f.select :sts, options %></td>
    </tr>

    <tr>
      <th><%= f.label :biko, '備考' %></th>
      <td><%= f.text_area :biko, size:"40x5" %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>

<% end %>


<%= link_to '[詳細に戻る]', @todo %> |
<%= link_to '[一覧に戻る]', url_for( :controller => 'todos', :action => 'index', :meeting_id => @todo.meeting_id) %>
