<% @page_title = "ToDo一覧" %>

<h1><%= @page_title %></h1>

<% if @todos.present? %>
<table rules="rows">
  <tr>
    <th>ID</th>
    <th>ToDo概要</th>
    <th>担当者</th>
    <th>ステータス</th>
    <th>期限</th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
     <td height="30", width="50"><%= todo.id %></td>
     <td height="30", width="120"><%= link_to todo.summary, todo %></td>
     <td height="30", width="100"><%= todo.user.user_name %></td>
     <td height="30", width="90"><%= todo.sts  %></td>
     <td height="30", width="100"><%= todo.enddate  %></td>
  </tr>
<% end %>
</table>

<% else %>
<p>ToDoがありません。</p>
<% end %>

<br />

<%= link_to '[新規作成]', url_for( :controller => "todos", :action => "new", :meeting_id => params[:meeting_id]) %> | 
<%= link_to '[ミーティング詳細に戻る]', url_for( :controller => "meetings", :action => "show", :id => params[:meeting_id]) %>


