<% @page_title = "ToDo list" %>

<h1><%= @page_title %></h1>

<% if @todos.present? %>
<table rules="rows">
  <tr>
    <th>ミーティングID</th>
    <th>概要</th>
    <th>担当者</th>
    <th>ステータス</th>
    <th>期限</th>
    <th colspan="2">Menu</th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
     <td height="30", width="100"><%= todo.metting_id  %></td>
     <td height="30", width="100"><%= link_to todo.summary, todo %></td>
     <td height="30", width="100"><%= todo.owner  %></td>
     <td height="30", width="100"><%= todo.sts  %></td>
     <td height="30", width="100"><%= todo.enddate  %></td>
     <td>
       <%= link_to '編集', edit_todo_path(todo) %> |
       <%= link_to '削除', todo_path(todo), :method => :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<% else %>
<p>ToDoがありません。</p>
<% end %>

<br />

<%= link_to 'Create New todo', new_todo_path %> |
