<h1>ユーザ一括廃止</h1>

<form method="post" action="/abolition_users/index">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

<table rules="rows">

  <tr>
    <th>有効&nbsp;&nbsp;</th>
    <th>ユーザ名&nbsp;&nbsp;</th>
    <th>メールアドレス&nbsp;&nbsp;</th>
  </tr>

<% @users.each do |user| %>
  <tr style="background-color:<%= cycle('FFffFF','#FFff99') %>">
    <td height="30"><input type="checkbox" name="abolition_users[]" value="<%= user.email %>" />&nbsp&nbsp;&nbsp;&nbsp</td>

    <!-- td height="30"><%= check_box "abolition_user", user.email %>&nbsp&nbsp;&nbsp;&nbsp</td -->
    <td height="30"><%= user.user_name %>&nbsp&nbsp;&nbsp;&nbsp</td>
    <td height="30"><%= user.email %>&nbsp&nbsp;&nbsp;&nbsp</td>
  </tr>
<% end %>
</table>

<div class="actions">
  <input type="submit" value="廃止">
</div>


</form>

