<%= javascript_include_tag "application" %>

<p id="notice"><%= notice %></p>

<p>
  <b>プロジェクト:</b>
  <%= @project_user.project.name if @project_user.project %>
</p>

<p>
  <b>ユーザ:</b>
  <%= @project_user.user.user_name if @project_user.user %>
</p>

<%= link_to '[一覧に戻る]', project_users_path %>